.block {
    display: flex;
}

.block__people {
    padding-right: 40px;
}

ul {
    padding: 0;
}

.block__text {
    width: 100%;
    border: 2px solid rgb(228, 230, 255);

    padding: 40px 65px;

    position: relative;
}

.title {
    margin-top: 10px;
    color: rgb(29, 29, 29);
    font-size: 20px;
}

.title:after {
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    background-color: rgb(114, 114, 114);

    margin-top: 5px;
}

.block__text img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


input {
    margin-top: 20px;
    width: 300px;
    height: 30px;
    padding: 5px;

    border: 1px solid #999999;
    border-radius: 5px;

    outline-color: rgb(207, 210, 253);
}

input:hover {
    border-color: rgb(207, 210, 253);
}

button {
    margin-left: 5px;
    width: 40px;
    height: 40px;

    outline-color: rgb(207, 210, 253);
    border: 1px solid #999999;
    border-radius: 5px;

    background-color: #fff;

    cursor: pointer;

    font-size: 16px;

}

button:hover {
    border-color: rgb(207, 210, 253);
}