/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap');

* {
    font-family: "Lato", Arial, sans-serif;
}

ul, ol {
    list-style-type: none;
}

.page {
    max-width: 1230px;
    width: 100%;
  
    display: grid;
    margin: 0 auto;
   
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 18fr;
    grid-gap: 10px;
}
